@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<H1>This is Index PAGE</H1>
@ViewBag.VAR
@ViewData["var2"]
@TempData["var3"]
